[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
didcomm = "*"
peerdid = "*"
jupyter = "*"
flask = "*"
xgboost = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
black = {extras = ["jupyter"], version = "*"}
matplotlib = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.11"
